$blue: #0aaaf7;
$purple: #ea54ea;
$green: #88ef88;

$complete: #FFF;

.canvas {
  display: flex;
  height: 100vh;
  background: #ededed;
}

.face-id-wrapper {
  width: 80px;
  height: 80px;
  margin: auto;
  position: relative;
/*   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
} 

.face-id-wrapper svg {
   position: absolute;
   fill: #aaa;
   stroke: #aaa;
}

.face-id-wrapper.active .face-id-default {
  opacity: 0;
  transform: scale(1.2);
  transition: opacity 1.5s, transform 1s;
  
  fill: lightblue;
  stroke: lightblue;
}

.circle {
  border-radius: 50%;
  border: 3px solid #000;
  width: 80px;
  height: 80px;
  background: transparent;
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
}

.active .circle {
  opacity: 1;
  transition: opacity .7s, transform 2.2s;
}

.circle.green {
  border: 3px solid $green;
}

.circle.blue {
  border: 3px solid $blue;
}

.circle.purple {
  border: 3px solid $purple;
}

.active .circle.green {
  transform: rotateX(360deg);
}

.active .circle.blue {
  transform: rotateY(360deg);
}

.active .circle.purple {
  transform: rotateY(360deg) rotateX(360deg);
}

.completed .circle.purple {
   border: 3px solid $complete;
  transition: border .7s
}

.path-tick {
  opacity: 0;
}

.completed .path-tick {
  stroke-dasharray: 49.497474670410156;
  stroke-dashoffset: 0;
  animation: dash 0.6s linear forwards;
  stroke-opacity: 1;
  transition: stroke-opacity 0.1s step;
  opacity: 1;
}

/*   delay-time before animation */
@keyframes dash {
  0% {
    stroke-dashoffset: 49.497474670410156;
    stroke-opacity: 1;
  }
  60% {
    stroke-dashoffset: 49.497474670410156;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}